{% extends "theme.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 align="center">{% trans "Sign In" %}</h1>

    <div class="container-fluid col-md-5">

        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% include 'account/snippets/bs4_form.html' with form=form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-lg btn-dark btn-block" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
{% endblock %}